extends layout
block content
    body
        .container
            h1 Hey there, #{user.name}!
            if (messageE.length != 0)
                .alert.alert-danger.fade.in #{messageE}
                    a.close(href="#", data-dismiss="alert") x
            if (messageI.length != 0)
                .alert.alert-info.fade.in #{messageI}
                    a.close(href="#", data-dismiss="alert") x
            if (messageS.length != 0)
                .alert.alert-success.fade.in #{messageS}
                    a.close(href="#", data-dismiss="alert") x
            strong
                | You can add more contacts on the 
                a(href='/contacts') contacts
                |  page.
            if (user.contacts.length != 0)
                table.table.table-striped
                    thead
                        tr
                            th First Name
                            th Last Name
                            th Email Address
                            th Phone Number
                    tbody
                        each contact in user.contacts
                            tr
                                td= contact.fname
                                td= contact.lname
                                td= contact.email
                                td= contact.phone
            .col-md-6
                h2 Alert 
                form.form-signin(action="/brb/sms", method="post")
                    button.btn.btn-lg.btn-success.btn-block(type='submit') Send text messages
                    <br>
                form.form-signin(action="/brb/email", method="post")
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Send emails
            .col-md-6
                h2 Crisis
                form.form-signin(action="/brb/csms", method="post")
                    button.btn.btn-lg.btn-danger.btn-block(type='submit') Send text messages
                    <br>
                form.form-signin(action="/brb/cemail", method="post")
                    button.btn.btn-lg.btn-danger.btn-block(type='submit') Send emails