extends layout
block content
    body
        .container
            h1 Hey there, #{user.name}!
            include messages
            h2 Contacts        
            strong
                | You can manage your contacts on the 
                a(href='/contacts') contacts
                |  page.
            if (user.contacts.length != 0)
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th First Name
                                th Last Name
                                th Email Address
                                th Phone Number
                                //th Send To?
                        tbody
                            each contact in user.contacts
                                tr
                                    td= contact.fname
                                    td= contact.lname
                                    td= contact.email
                                    td= contact.phone
                                    //td
                                        input(type="checkbox", name="sendto", value=contact._id, checked=false)
            .row
                h2 Alert
                .col-md-6
                    p Use this option if you're having a bad time and need support from friends and family. It will send the following message to your contacts:
                    blockquote
                        p Emergency! #{user.name} needs your help. Text them to let them know you're there for them.
                .col-md-6    
                    form.form-signin(action="/brb/sms", method="post")
                            input(type="hidden", name="crisis", value="false")
                            button.btn.btn-lg.btn-success.btn-block(type='submit') Send text messages
                            <br>
                    form.form-signin(action="/brb/email", method="post")
                            input(type="hidden", name="crisis", value="false")
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Send emails
            .row
                h2 Crisis
                .col-md-6
                    p Use this option only in the most serious of emergencies. It will send the following message to your contacts:
                    blockquote
                        p I am having suicidal thoughts right now and I need your help. Please call or text me immediately and take me to a local hospital to get a suicide assessment. If you are unable to reach me, call 911. I am not safe and cannot guarantee you that right now I will not hurt myself. This is urgent and you must take immediate action.
                .col-md-6
                    form.form-signin(action="/brb/sms", method="post")
                        input(type="hidden", name="crisis", value="true")
                        button.btn.btn-lg.btn-danger.btn-block(type='submit') Send text messages
                        <br>
                    form.form-signin(action="/brb/email", method="post")
                        input(type="hidden", name="crisis", value="true")
                        button.btn.btn-lg.btn-danger.btn-block(type='submit') Send emails