extends layout
block content
    body
        .container
            h1 Hey there, #{user.name}!
            include messages
            if (user.contacts.length != 0)
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th First Name
                                th Last Name
                                th Email Address
                                th Phone Number
                                th Delete
                        tbody
                            each contact in user.contacts
                                tr
                                    td= contact.fname
                                    td= contact.lname
                                    td= contact.email
                                    td= contact.phone
                                    td
                                        a(href='/contacts/delete/#{contact.id}')
                                            span(class="glyphicon glyphicon-trash")
            form.form-signin(action="/contacts/add", method="post")
                h2.form-signin-heading Add new contact
                label(for='fname') Their first name
                input.form-control(type='text', name='fname', placeholder='Jane')
                <br>
                label(for='lname') Their last name
                input.form-control(type='text', name='lname', placeholder='Doe')
                <br>
                label(for='email') Their email address
                input.form-control(type='email', name='email', placeholder='you@example.com')
                <br>
                label(for='phone') Their phone number
                input.form-control(type='tel', name='phone', placeholder='5555555555')
                <br>
                button.btn.btn-lg.btn-success.btn-block(type='submit') Add contact