doctype html
html
  head
    title #{title} | Defcon One
    meta(charset="utf-8")
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.css')
    //link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/jumbotron.css')
    link(rel='icon', href='/img/favicon.ico')
    link(rel='apple-touch-icon', href='/img/favicon-iphone.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='js/bootstrap.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(class='navbar-toggle', type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a.navbar-brand(href='/') Defcon One
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=title=='Home'?'active':undefined)
              a(href='/')
                span(class="glyphicon glyphicon-home")
                |  Home
            li(class=title=='Big Red Button'?'active':undefined)
              a(href='/brb')
                span(class="glyphicon glyphicon-warning-sign")
                |  Red Button
            li(class=title=='Hotlines'?'active':undefined)
              a(href='/hotlines')
                span(class="glyphicon glyphicon-earphone")
                |  Hotlines
            li(class=title=='Contacts'?'active':undefined)
              a(href='/contacts')
                span(class="glyphicon glyphicon-book")
                |  Contacts
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span(class="glyphicon glyphicon-user")
                  |  Users
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/signin') Sign In
                  li
                    a(href='/signup') Sign Up
                  li
                    a(href='/settings') Settings
                  li
                    a(href='/logout') Sign Out
    block content
